.availability-form{
    margin-top: 70px;
}
.listing-container .row .col-lg-4 .card{
    margin-top: 20px;
}
.listing-container .header-text{
    padding-top: 20px;
}

.listing-container label{
    display: block;
    line-height: 40px;

}
.listing-container .option-input:checked::after{
    animation: click-wave 0.75s;
    background: #00BFFF;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

@keyframes click-wave{
    0%{
        height: 40px;
        width:40px;
        opacity: 0.35;
        position: relative;
    }
    100%{
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -88px;
        opacity: 0;
    }
}

.listing-container .option-input{
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    position: relative;
    top: 13.333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 8.15s ease out 0s;
    background: #00BFFF;
    border: none;
    color: #ffffff;
    cursor:pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 1000 ;

}
.option-input:hover{
    background-color: #ffffff;
}
.option-input:checked::before{
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 25.5559px;
    text-align: center;
    line-height: 40px;
}
